@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
}

* {
    @apply selection:bg-slate-200/10 selection:text-white;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: #222a38;
    border-radius: 9999px;
}
::-webkit-scrollbar-track {
    background: transparent;
}

/* Card helper */
.card {
    @apply bg-card shadow-soft rounded-2xl border border-white/5;
}
